{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "React": "writable"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint", "prettier", "react-hooks"],
  "rules": {
    "react-hooks/rules-of-hooks": "warn",
    "react-hooks/exhaustive-deps": "warn",
    "linebreak-style": ["error", "unix"],
    "no-unused-vars": "error",
    "@typescript-eslint/no-unused-vars": "error",
    "react/display-name": "error",
    "react/prop-types": "error",
    "react/react-in-jsx-scope": "error",
    "react/no-unescaped-entities": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
